<mat-list>
    <mat-list-item>
        10.12.2017 - Mining started - Eth on nanopool (~21 mh/s)
    </mat-list-item>
    <mat-list-item>        
        15.12.2017 - 1060 added - (~39 mh/s)
    </mat-list-item>
    <mat-list-item>
        19.12.2017 - + 0.00040513 btc (btc hash)
    </mat-list-item>
    <mat-list-item>        
        01.02.2018 - nicehash test (Eth on nanopool stopped)
    </mat-list-item>
</mat-list>