<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="mat-sidenav-main">
  <mat-sidenav #sidenav>
    <mat-list>
      <mat-list-item>
        <button mat-button (click)="navigate('home')" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>home</mat-icon> Home
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="navigate('eth')" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>account_balance_wallet</mat-icon> Ethereum
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="navigate('btc')" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>attach_money</mat-icon> Bitcoin
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button (click)="navigate('journal')" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>book</mat-icon> Journal
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button class="menu-button" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>    
      yuvdev's crypto-stat    
  </mat-toolbar>
  <div class="router-container">
      <router-outlet></router-outlet>
  </div>  
</mat-sidenav-container>