app-root{
  height: 100%;
}

.mat-sidenav-main mat-sidenav-container {  
}

.mat-sidenav-main mat-toolbar {
  position: fixed;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; 

  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0, 0, 0, .12);
}

.mat-sidenav-main mat-sidenav {
  height: 100%;  
  position: fixed;
}

.router-container {  
  margin-top: 40px;  
  position: relative;
  height: 100%;  
}
