/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
	margin: 0;
    /* width: 100%;
    height: 100%; */
}

mat-input-container {
    width: 100%;
}

button {
    width: 100%; 
    height: 40px;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	/* background-color: #EEE; */
	display: table-header-group;
}
.divTableCell, .divTableHead {
	/* border: 1px solid #999999; */
	display: table-cell;
	/* padding: 3px 10px; */
}
.divTableHeading {
	/* background-color: #EEE; */
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	/* background-color: #EEE; */
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}