﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Аппарат с едой";
}

<div>
    @using (Html.BeginForm())
    {
        <fieldset>

            <table border="1" cellpadding="1">
                <tbody>
                    <tr>
                        <td>
                            Напитки
                        </td>
                        <td>
                            Еда
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @foreach (var drink in ViewBag.Drinks)
                            {
                                <p>
                                    <input type="radio" name="selectedDrinks" value="@drink.Guid" />
                                    @drink.Name @drink.Coast руб.
                                </p>
                            }
                        </td>
                        <td>
                            @foreach (var meal in ViewBag.Meals)
                            {
                                <p>
                                    <input type="radio" name="selectedMeals" value="@meal.Guid" />
                                    @meal.Name @meal.Coast руб.
                                </p>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @foreach (var additive in ViewBag.DrinksAdditives)
                            {
                                <p>
                                    <input type="checkbox" name="selectedDrinksAdditives" value="@additive.Guid" />
                                    @additive.Name @additive.Coast руб.

                                </p>
                            }
                            <p>
                                <select name="selectedSugar">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                                Cахар 3 руб.
                            </p>
                        </td>
                        <td>
                            @foreach (var additive in ViewBag.MealsAdditives)
                            {
                                <p>
                                    <input type="checkbox" name="selectedMealsAdditives" value="@additive.Guid"/>
                                    @additive.Name @additive.Coast руб.
                                </p>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="checkbox" name="combo" value="true" />
                            Комплекс (1 напиток с любой добавкой + 1 еда с любой добавкой на выбор) 90 руб.
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="Выбрать" />
        </fieldset>
    }
</div>