<mat-grid-list cols="2" rowHeight="1:1" class="home-grid" gutterSize="5px">
    <!--total-->
    <mat-toolbar color="secondary">
        Total: {{ethProfit | sum : [btcProfit, ethPoolProfit] | number:'1.2-3' }}
    </mat-toolbar>
    <!--btc data-->
    <mat-grid-tile>
        <div class="tile-content-container">
            <mat-toolbar color="secondary">
                <span>Bitcoin</span>
                <span class="spacer"></span>
                <!-- <mat-icon>delete</mat-icon> -->
            </mat-toolbar>
            <!--mobile-->
            <div>
                <ul>
                    <li>$
                        <b>{{btcUsdCost | number:'1.2-2'}}</b>
                    </li>
                    <li>Ƀ {{btcBalance | number:'1.2-6'}}</li>
                    <li>₽
                        <b>{{btcProfit | number:'1.2-2'}}</b>
                    </li>
                </ul>
            </div>
            <!--desctop-->
            <div>

            </div>
        </div>
    </mat-grid-tile>
    <!--eth data-->
    <mat-grid-tile>
        <div class="tile-content-container">
            <mat-toolbar color="secondary">
                <span>Ether</span>
                <span class="spacer"></span>
                <!-- <mat-icon>delete</mat-icon> -->
            </mat-toolbar>
            <!--mobile-->
            <div>
                <ul>
                    <li>$
                        <b>{{ethUsdCost | number:'1.2-2'}}</b>
                    </li>

                    <li>Ȇ {{ethBalance | number:'1.2-6'}}</li>
                    <li>₽
                        <b>{{ethProfit | number:'1.2-2'}}</b>
                    </li>

                    <li>Ȇ(P) {{ethPoolBalance | number:'1.2-6'}}</li>
                    <li>₽(P)
                        <b>{{ethPoolProfit | number:'1.2-2'}}</b>
                    </li>
                    <li>HR(P) {{ethSixAvg}} </li>
                </ul>
            </div>
            <!--desctop-->
            <div>

            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>