.home-grid mat-grid-list {
    padding-bottom: 40px;
}

.home-grid mat-grid-tile{
    /* box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0, 0, 0, .12); */
}

.tile-content-container {
    
    width:100%; 
    height:100%;
}

.home-grid mat-card {    
    width: 90%;
    height: 90%;
    margin-bottom: 20px;
    margin-top: 30px;
}

.home-grid mat-toolbar {
    height: 30px;
}

.home-grid .spacer {
    flex: 1 1 auto;
}

.tile-content-container ul {
    margin: 0;
    padding: 5px;    
    list-style-type: none;
}